# Default owner for the entire repository
* @akerberganders

# Specific owners for certain directories or files
/scripts/ @akerberganders
docker-compose.yml @sbadakhc

# Owners for specific file types
*.sh @akerberganders
*.yml @sbadakhc