# Default owner for the entire repository
* @sbadakhc

# Specific owners for certain directories or files
/scripts/ @sbadakhc
docker-compose.yml @sbadakhc

# Owners for specific file types
*.sh @sbadakhc
*.yml @sbadakhc