# Grafana Datasource Configuration
# This file automatically provisions Prometheus as a datasource in Grafana

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    uid: prometheus
    isDefault: true
    editable: true
    basicAuth: false
    jsonData:
      httpMethod: POST
      timeInterval: 15s

