# Grafana Datasource Configuration
# This file automatically provisions Prometheus and Loki as datasources in Grafana

apiVersion: 1

datasources:
  # Prometheus datasource
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    uid: prometheus
    isDefault: true
    editable: true
    basicAuth: false
    jsonData:
      httpMethod: POST
      timeInterval: 15s

  # Loki datasource
  - name: Loki
    type: loki
    access: proxy
    url: http://localhost:3100
    uid: loki
    isDefault: false
    editable: true
    basicAuth: false
    jsonData:
      maxLines: 1000